/* imports  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/***** Start Global CSS *****/
/* base rule  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p,
a,
label,
li {
  color: var(--para);
  font-size: 1.7rem;
}
img {
  display: inline-block;
}
input,
textarea {
  width: 100%;
  padding: 1.4rem 1.8rem;
  font-size: 1.7rem;
}
/* theme  */
:root {
  --white-color: #fff;
  --black-color: #000;
  --para-color: #777777;
  --para-tint: #e4e4e4;
  --primary-color: #0071bc;
  --bg-color: #29abe2;
  --secondary-color: #ffac4e;
  --shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
}

/* layout  */
.section {
  width: 100%;
}
.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 8rem 6.4rem;
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* module / reusable  */
.hidden {
  display: none;
}
.visible {
  display: block;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
/***** End Global CSS *****/

/***** Start Header Section *****/
.section-header .container {
  padding: 1.5rem 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-brand img {
  width: 20rem;
  height: 4rem;
}
.nav-menu ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4rem;
}
.nav-menu ul li a {
  text-align: right;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: 500;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}
.nav-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0%;
  border-bottom: 0.2rem solid var(--primary-color);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.nav-menu ul li a:hover {
  color: var(--secondary-color);
}
.nav-menu ul li a:hover::after {
  width: 100%;
}
.mobile-menu--btns {
  display: none;
}

/***** End Header Section *****/
